@font-face {
  font-family: 'Muller';
  font-weight: 800;
	src: url('./fonts/mullerblack.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/mullerblack.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/mullerblack.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/mullerblack.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/mullerblack.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/mullerblack.svg#mullerblack') format('svg'); /* Chrome < 4, Legacy iOS */
}
