@font-face {
	font-family: 'Muller';
  font-weight: bold;
	src: url('./fonts/muller-extrabold.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/muller-extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/muller-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/muller-extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/muller-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/muller-extrabold.svg#muller-extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}
